
NAME: ''
OUTPUT_DIR: './output/FCC-DFCL/feature-norm/CFIL/cifar10/ResNet32/Base0/task5/NoFCC/calibration/KD/test2'
SHOW_STEP: 50
SAVE_STEP: 100
VALID_STEP: 25
INPUT_SIZE: (32, 32)
COLOR_SPACE: 'RGB'
CPU_MODE: False
use_best_model: False
task1_MODEL: "/data0/user/kcli/CL_research/DataFreeCL-V2/output-1/ABD/cifar10/ResNet32/Base0/task5/test2/models/base_latest_model.pth"
#task1_MODEL: "/data0/user/kcli/CL_research/QuintCDKD/reuse-model/cifar10-base0-200-task2-latest_model.pth"
pretrained_MODEL: ""
use_base_half: False
checkpoints: ''
save_model: True
use_Contra_train_transform: False
train_first_task: False

seed: 0
trainer_name: "PCDFCL"
# ----- DATASET BUILDER -----

DATASET:
  dataset: "Torchvision_Datasets_Split"
  dataset_name: "CIFAR10"                  #mnist, mnist28, CIFAR10, CIFAR100, imagenet, svhn
  data_root: "/data0/user/kcli/Datasets"
  all_classes: 10
  all_tasks: 5
  split_seed: 0
  val_length: 0
# ----- resume -----

RESUME:
  use_resume: False
  resumed_model_path: ""

# ----- pre-train setting -----
PRETRAINED:
  use_pretrained_model: False
  MODEL: ""


# ----- extractor BUILDER -----
extractor:
#  TYPE: 'resnet18'
  #TYPE: "resnet34"
  TYPE: "res32_cifar"
  rate: 1.
  output_feature_dim: 64

generator:
  gen_model_name: "CIFAR_GEN"
  generator_iter: 10000
  batch_size: 128
  deep_inv_params: [1.e-3, 50, 1.0e-3, 1000] # generator_lr, r_feature_weight, pr_scale, content_temp 1e-3 5e1 1e-3 1e3

#----- model -----
model:
  T: 2.
#  loss_type: "calibration"
  loss_type: "NoFCC-calibration"
#  loss_type: "com-calibration"
  gamma: 0.1

  use_finetune: True
  use_feature_norm: True
  use_finetune_FCC: False

  kd_lambda: 0.1
  use_FCCKD: False

  TRAIN:
    BATCH_SIZE: 128
#    MAX_EPOCH: 250
    MAX_EPOCH: 170
    NUM_WORKERS: 4
    SHUFFLE: True
    OPTIMIZER:
      TYPE: 'SGD'
      BASE_LR: 0.1
      MOMENTUM: 0.9
      WEIGHT_DECAY: 2e-4
    LR_SCHEDULER:
      TYPE: 'warmup'
#      LR_STEP: [100, 150, 200, 250]
#      LR_STEP: [ 30, 60, 90, 110 ]
#      LR_STEP: [50, 90, 130, 150]
      LR_STEP: [60, 100, 130, 150]
      LR_FACTOR: 0.1
      WARM_EPOCH: 5

#----- new_model -----
new_model:
#  loss_type: "ABD"
  loss_type: "CFIL"
#  loss_type: "R-DFCIL"
#  loss_type: "BSCE"
#  loss_type: "LwF"
  T: 2.
  kd_lambda: 0.1

  ce_lambda: 0.5
  hkd_lambda: 0.15
# rkd:
  rkd_lambda: 0.5

  TRAIN:
    BATCH_SIZE: 128
#    MAX_EPOCH: 90
    MAX_EPOCH: 170
    NUM_WORKERS: 4
    SHUFFLE: True
    OPTIMIZER:
      TYPE: 'SGD'
      BASE_LR: 0.1
      MOMENTUM: 0.9
      WEIGHT_DECAY: 2e-4
    LR_SCHEDULER:
      TYPE: 'warmup'
#      LR_STEP: [ 45, 75 ]
#      LR_STEP: [50, 90, 130, 150]
      LR_STEP: [60, 100, 130, 150]
      LR_FACTOR: 0.1
      WARM_EPOCH: 5

  finetune:
    MAX_EPOCH: 60
    BATCH_SIZE: 128
    SHUFFLE: True
    NUM_WORKERS: 4
    # ----- OPTIMIZER -----
    BASE_LR: 0.005
    TYPE: "SGD"
    MOMENTUM: 0.9
    WEIGHT_DECAY: 2e-4
    # ----- LR_SCHEDULER -----
    LR_TYPE: "multistep"
    LR_STEP: [ 30, 50 ]
    LR_FACTOR: 0.1
    WARM_EPOCH: 5